postgresql:
  enabled: true
  image:
    repository: postgres
    tag: 9.6.14
  persistence:
    enabled: true
    mountPath: /data
  # dataDir cannot be the mountPath,
  # it has to be a subdirectory
  postgresqlDataDir: /data/pgdata
  postgresqlDatabase: storyscript
  postgresqlUsername: storyscript
  postgresqlPassword: storyscript

nginx-ingress:
 rbac:
  create: true
 controller:
  service:
   loadBalancerIP:

env:
 name: local
 domain: storyscript.test

hello-world:
  enabled: false
  image: storyscript/hello-world

database:
  image: storyscript/database

gateway:
  image: asyncy/http:v0.2.1-33-g536a1cb

graphql:
  image: asyncy/platform-graphql

runtime:
  image: asyncy/platform-engine-prod:v0.3.1-755-ga9826ad

synapse:
  image: asyncy/platform-synapse:v0.1.7-3-g7cd3326
