domain: example.com
appsDomain: exampleapps.com

tls:
  enabled: false
  fullchain:
  privkey:

postgresql:
  create: true
  image:
    repository: postgres
    tag: 9.6.14
  persistence:
    enabled: true
    mountPath: /data
  # dataDir cannot be the mountPath,
  # it has to be a subdirectory
  postgresqlDataDir: /data/pgdata
  # postgresqlHost is only used if create=false
  postgresqlHost:
  postgresqlDatabase: storyscript
  postgresqlUsername: storyscript_superuser
  postgresqlPassword: storyscript_superuser

nginx-ingress:
  rbac:
    create: true
  controller:
    service:
      # only for GKE
      loadBalancerIP:

##########################
# storyscript components #
##########################

auth:
  image:
    repository: storyscript/auth
    tag: v0.2.0
  jwt:
    secret_key: my-secret-key

  allowlist_token: allowlist-token
  # GitHub app oauth credentials, callback URL set to:
  #  https://auth.{{ .Values.domain }}/callback
  github:
    client_id:
    client_secret:

compiler:
  image:
    repository: storyscript/language
    tag: v0.28.0

creds:
  image:
    repository: storyscript/creds
    tag: v0.3.0
  gcp_secretmanager_key:
  github:
    client_id:
    client_secret:
  slack:
    client_id:
    client_secret:

geh:
  image:
    repository: storyscript/geh
    tag: v0.4.0
  slack_signing_key:

graphql:
  image:
    repository: storyscript/graphql
    tag: v0.5.0
  # Credentials of the role used by the API server
  postgresqlUsername: storyscript_authenticator
  postgresqlPassword: storyscript_authenticator
  corsWhitelistRegexp: .*

http:
  image:
    repository: storyscript/http
    tag: v0.4.0

nlp:
  image:
    repository: storyscript/nlp
    tag: v0.0.1

router:
  image:
    repository: storyscript/router
    tag: v0.1.0
  # only for GKE
  loadBalancerIP:

runtime:
  image:
    repository: storyscript/runtime
    tag: v0.10.0
  wolfram_app_id:
  github:
    app_id:
    app_private_key:

schema:
  image:
    repository: storyscript/database
    tag: v0.5.0

studio:
  image:
    repository: storyscript/studio
    tag: v0.14.0
  integrations:
    intercom:
    fullstory:
  sentry:
    dsn:

worker:
  image:
    repository: storyscript/worker
    tag: v0.4.0
