domain: example.com
appsDomain: exampleapps.com

tls:
  enabled: false
  fullchain:
  privkey:

postgresql:
  create: true
  image:
    repository: postgres
    tag: 9.6.14
  persistence:
    enabled: true
    mountPath: /data
  # dataDir cannot be the mountPath,
  # it has to be a subdirectory
  postgresqlDataDir: /data/pgdata
  # postgresqlHost is only used if create=false
  postgresqlHost:
  postgresqlDatabase: storyscript
  postgresqlUsername: storyscript_superuser
  postgresqlPassword: storyscript_superuser

nginx-ingress:
  rbac:
    create: true
  controller:
    service:
      # only for GKE
      loadBalancerIP:

router:
  image:
    repository: storyscript/router
    tag: v0.1.0
  # only for GKE
  loadBalancerIP:

schema:
  image:
    repository: storyscript/schema
    tag: v0.2.0

graphql:
  image:
    repository: storyscript/graphql
    tag: v0.2.0
  # Credentials of the role used by the API server
  postgresqlUsername: storyscript_authenticator
  postgresqlPassword: storyscript_authenticator
  corsWhitelistRegexp: .*

auth:
  image:
    repository: storyscript/auth
    tag: v0.1.0
  jwt:
    secret_key: my-secret-key

  allowlist_token: allowlist-token
  # GitHub app oauth credentials, callback URL set to:
  #  https://auth.{{ .Values.domain }}/callback
  github:
    client_id:
    client_secret:

compiler:
  image:
    repository: storyscript/language
    tag: latest

creds:
  image:
    repository: storyscript/creds
    tag: v0.2.0
  gcp_secretmanager_key:
  github:
    client_id:
    client_secret:
  slack:
    client_id:
    client_secret:

geh:
  image:
    repository: storyscript/geh
    tag: v0.2.0
  slack_signing_key:

sls:
  image:
    repository: storyscript/sls
    tag: v0.5.2

studio:
  image:
    repository: storyscript/studio
    tag: v0.9.0

runtime:
  image:
    repository: storyscript/runtime
    tag: v0.6.1
  wolfram_app_id:

worker:
  image:
    repository: storyscript/worker
    tag: v0.1.0

http:
  image:
    repository: storyscript/http
    tag: v0.3.0
